.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.delete-button {
  background: red;
  font-size: 20px;
  color: white;
  border: none;
  padding: 3px 7px;
  cursor: pointer;
}
.delete-button:hover {
  font-size: 21px;
}